<div class="row">
    <div class="col-md-4 ro">
        <div id="row1-head">
            <p>THE FUTURE OF SECURED HOMES</p>
        </div>
        <div id="row1-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div id="row1-img">
            <a href="#"><img src="../../assets/button purple-3.png"></a>
        </div>
    </div>
    <div class="col-md-8 hero-image-container">
        <img class="hero-image" src="../../assets/Group 530@2x.png" alt="" srcset=""> 
    </div>
</div>
<div class="row">
    <div class="col-xd-4 img-space">
        <div class="card" style="width: 13rem;">
            <a routerLink='/getQuote'><img class="card-img-top" src="../../assets/icon-2.png" alt="GET A INSURANCE QUOTE"></a>
            <div class="card-body">
              <h5 class="card-title">GET A INSURANCE QUOTE</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>
    </div>

    <div class="col-xd-4 img-space">
        <div class="card" style="width: 13rem;">
            <img class="card-img-top" src="../../assets/icon-1.png" alt="CONTACT US">
            <div class="card-body">
              <h5 class="card-title">CONTACT US</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>
    </div>

    <div class="col-xd-4 img-space">
        <div class="card" style="width: 13rem;">
            <a routerLink='/findAgent'><img class="card-img-top" src="../../assets/icon.png" alt="FIND AN AGENT"></a>
            <div class="card-body">
              <h5 class="card-title">FIND AN AGENT</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>
    </div>
</div>


    <div class="container ">
        <div class="row" >
            <div class="col-xs-6 img-space" >
                <img src="../../assets/undraw_quite_town_mg2q.png" alt="town" class="town-img">
            </div>
            <div class="col-xs-6 img-space">
                <div class="home-headings">
                    <p>We Insure Homes</p>
                </div>
                <div class="home-para">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
                <div class="home-img">
                    <a href="#"><img src="../../assets/button purple-2.png"></a>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-xs-6 img-space">
                <div class="home-headings">
                    <p>Navigate the claim process</p>
                </div>
                <div class="home-para">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
                <div class="home-img">
                    <a href="#"><img src="../../assets/button purple-2.png"></a>
                </div>
            </div>
            <div class="col-xs-6 img-space">
                <img src="../../assets/undraw_buy_house_560d (1).png" alt="house" class="house-img">
            </div>
        </div>

        <div class="row" >
            <div class="col-xs-6 img-space">
                <img src="../../assets/undraw_Mobile_app_p3ts.png" alt="mobile" class="mobile-img">
            </div>
            <div class="col-xs-6 img-space">
                <div class="home-headings">
                    <p>GET OUR MOBILE APP</p>
                </div>
                <div class="home-para">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
                <div class="home-img">
                    <a href="#"><img src="../../assets/button purple.png"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 img-space">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body"><a href="#"><img src="../../assets/footer.png"></a></div>
                </div>
            </div>
        </div>
    </div>


          